<h2> Order Confirmation </h2>

<p> <%= @order.created_at %> </p>

<table class='table'>

  <thead>
    <tr>
      <th> Name </th>
      <th> Quantity </th>
      <th> Status </th>
      <th> Price </th>
    </tr>
  </thead>

  <% @order.order_items.each do |item| %>
    <tr>
      <td> <%= item.product.name %> </td>
      <td> <%= item.quantity %> </td>
      <td> <%= item.status %> </td>
      <td> <%= item.price %>
    </tr>
  <% end %>

  <tr>
    <td colspan="3"> <strong> Total </strong> </td>
    <td> <%= @order.price %> </td>
  </tr>
</table>

<%= link_to "Cancel Order", order_path(@order), class: "btn btn-danger", method: :delete %>
