<h2> Cart </h2>

<% if @order_items.empty? %>

  <h3> Cart is currently empty. </h3>

<% else %>

<ul>
<% @order_items.each do |item| %>
  <li>
    <ul>
      <li> <%= link_to item.product.name, product_reviews_path(item.product.id) %> </li>
      <li> <%= image_tag item.product.photo, alt: item.product.name %> </li>
      <li> <%= item.quantity %> </li>
      <li>
        <section>
          <%= form_with model: item, class: 'change-quantity-form' do |f| %>

            <%= f.label :quantity %>
            <%= f.text_field :quantity %>

            <%= f.submit "Change quantity", class: 'pending' "add-cart-form-submit-button btn btn-primary" %>
          <% end %>
        </section>
      </li>
      <li> <%= link_to "delete", order_item_path(item.id), method: :delete %> </li>
    </ul>
  </li>
  <% end %>
</ul>

<%= link_to 'Finalize Order', edit_order_path(session[:order_id]), class: "btn btn-primary" %>
<% end %>
