<section class = "all-products">
  <h2>All Products</h2>

  <section class = "product-gallery">
    <% @products.each do |product| %>
    <div class="card">
      <img class="card-img-top" src="<%=product.photo%>" alt="Image of <%=product.name%>">
      <div class="card-body">
        <h5 class="card-title"><%= product.name %></h5>
        <p class="card-text">Product description</p>
        <%= link_to "Learn more", product_path(product.id), class:"btn btn-primary"%>
      </div>
    </div>
    <% end %>
  </section>

<%= will_paginate @products %>
</section>
<!-- <table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Photo</th>
      <th>Stock</th>
      <th>Active</th>
      <th>Category</th>
      <th>Rating</th>
      <th>Description</th>
      <th>Merchant ID</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.price %></td>
      <td><%= product.photo %></td>
      <td><%= product.stock %></td>
      <td><%= product.active %></td>
      <td><%= product.category %></td>
      <td><%= product.rating %></td>
      <td><%= product.merchant_id %></td>

    </tr>
    <% end %>
  </tbody>
</table> -->
