<div class = "product-show-section">
  <section class= "product-show-info">
    <h2><%= @product.name %></h2>
    <ul>
      <li><strong>Price: </strong>$<%= @product.price %>
      </li>
      <li>
        <% if @product.stock == 0 %>
          <strong> OUT OF STOCK </strong>
        <% else %>
          <strong>In Stock: </strong><%= @product.stock %>
        <% end %>
      </li>
      <li><strong>Categories: </strong>
        <ul>
        <% @product.categories.each do |category| %>
          <li> <%= category.name %> </li>
        <% end %>
        </ul>
      </li>
      <li><strong>Rating: </strong><%= @product.rating %></li>
      <li><strong>Merchant: </strong><%= @product.merchant.username %></li>
    </ul>

  <% if @product.merchant.id == session[:user_id] %>
      <%= link_to "Edit Product Details", edit_product_path(@product)%>
  <% end %>


  <section>
    <%= form_with model: @order_item, class: 'add-cart-form' do |f| %>

      <%= f.label :quantity %>
      <%= f.text_field :quantity %>

      <%= f.hidden_field :status, value: 'pending' %>

      <%= f.hidden_field :product_id, value: @product.id %>

      <% if @product.stock == 0 %>
        <%= f.submit "Add to cart", class: 'pending' "add-cart-form-submit-button btn btn-primary", disabled: true %>
      <% else %>
        <%= f.submit "Add to cart", class: 'pending' "add-cart-form-submit-button btn btn-primary" %>
      <% end %>
    <% end %>
  </section>
</section>

  <%= image_tag @product.photo, alt: @product.name, class: "product-show-photo"%>

  <section class ="product-review">
    <% if @reviews.empty? %>
      <h3> No Reviews Available. </h3>
    <% else %>
    <ul>
      <% @reviews.each do |review| %>
        <li>
          <ul>
            <li> <strong> Name: </strong> <%= review.name %> </li>
            <li> <strong> Rating: </strong> <%= review.rating %> </li>
            <li> <strong> Description: </strong> <%=  review.description %> </li>
          </ul>
        </li>
      <% end %>
    </ul>
    <% end %>

  <%= link_to "Add Review", new_product_review_path(@product.id), class: "btn btn-primary" %>

  </section>
</div>
