<!DOCTYPE html>
<html>
  <head>
    <title>Petsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class = "header-header">
      <h2><strong>Petsy</strong></h2>
      <h3> Purring, Leaping, Wagging, and Swimming into Hearts Around the Globe</h3>

      <nav class = "user-nav">
        <ul class = "user-nav-list nav navbar-nav navbar-right">
          <% if @logged_in_merchant %>
            <li><span class="glyphicon glyphicon-user"></span>
              <%= link_to "Log in", '/auth/github'%>
          <% else %>
            <li><span class="glyphicon glyphicon-user"></span>
              <%= link_to "Log out", logout_path, method: :post %>
            </li>
            <li><span class="glyphicon glyphicon-cart"></span>
              <%= link_to "Cart", order_items_path %>
            </li>
          <% end %>
        </ul>
      </nav>

      <nav class = "shopping-nav">
        <ul class = "shopping-nav-list nav navbar-nav">
          <li>
          <%= link_to "Products", products_path %>
          </li>
          <li>
            <%= link_to "Merchants", merchants_path %>
          </li>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      &copy; 2018, Pet Sounds
    </footer>
  </body>
</html>
