<!DOCTYPE html>
<html>
  <head>
    <title>Petsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Rammetto+One" rel="stylesheet">
  </head>

  <body>
    <header>
      <section class = "header-img">
      <%= image_tag("petstogether.jpeg", alt: "group of assorted pets")%>
      </section>

      <section class = "header-text">
        <h1 class="header-heading">PETSY</h1>
        <h3 class="header-subheading"> Purring, Leaping, Wagging, and Swimming into Hearts Around the Globe</h3>
      </section>

      <nav class = "navbar navbar-default user-nav">
        <ul class = "user-nav-list nav navbar-nav navbar-right">
          <li>
            <%= link_to " Cart ", order_items_path %>
          </li>
          <% if session[:user_id] %>
          <li>
            <%= link_to " Log out ", '/logout', method: :delete %>
          </li>
          <% else %>
            <li>
              <%= link_to " Log in ", '/auth/github'%>
            </li>
          <% end %>
        </ul>
        <ul class = "shopping-nav-list nav navbar-nav">
          <li>
          <%= link_to "Products", products_path %>
          </li>
          <li>
            <%= link_to "Merchants", merchants_path %>
          </li>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      &copy; 2018, Pet Sounds
    </footer>
  </body>
</html>
